.blog-img {
	position: relative;
}
.blog-img::before {
	background-color: #000000;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition-duration: 0.3s;
}
article.post:hover .blog-img::before {
	opacity: 0.5;
}
.blog-img img {
	width: 100%;
}
.blog-img-2 img{
	margin-bottom: 15px;
}
.blog-text {
	padding-right: 45px;
}
.blog-text span {
	color: #777777;
	display: inline-block;
	margin-bottom: 8px;
	transition-duration: 0.3s;
}
.blog-text span i {
	margin-right: 5px;
}
.blog-text span a {
	text-decoration: none;
}
.author.vcard {
	margin-right: 5px;
}
.blog-text h5 {
	color: #222222;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 0px;
}
.entry-title a:hover{
	color: #0bbbc1;
}
.blog-text p {
	color: #777777;
	margin-bottom: 14px;
}
a.underline-text {
	color: #0bbbc1;
	font-weight: 700;
	text-decoration: none;
}
article.post:hover a.underline-text {
	color: #373737;
}
.single-area img {
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}